fastapi==0.127.1
langchain-community==0.4.1
langchain-core==1.2.4
langchain-openai==1.1.6
langchain-pinecone==0.2.13
langchain-text-splitters==1.1.0
langgraph==1.0.5
pdf2docx==0.5.8
pinecone[grpc]==7.3.0
pydantic==2.11.7
pypdf==6.4.2
python-docx==1.2.0
python-magic==0.4.27
python-multipart==0.0.21
requests==2.32.5
streamlit==1.52.2
uvicorn==0.40.0
boto3==1.42.18
unstructured[pdf,docx]==0.18.21
pdfminer.six==20251107
